@model SimpleLogInSystem.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed, Check your login details.");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div>@Html.LabelFor(u => u.email)</div>

            <div>@Html.TextBoxFor(u => u.email)
                 @Html.ValidationMessageFor(u => u.email)
            </div>

            <div>@Html.LabelFor(u => u.password)</div>

            <div>@Html.PasswordFor(u => u.password)
                 @Html.ValidationMessageFor(u => u.password)
            </div>             
            
            <input type="submit" value="Log In" />
              
        </fieldset>
    </div>
    
    
}


