@model SimpleLogInSystem.Models.UserModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Create user failed, check your fields.");
    <div>
        <fieldset>
            <legend>Create New User</legend>
            <div class ="editor-label">@Html.LabelFor(u => u.email)</div>

            <div class ="editor-label">@Html.TextBoxFor(u => u.email)
                 @Html.ValidationMessageFor(u => u.email)
            </div>

            <div class ="editor-label">@Html.LabelFor(u => u.password)</div>

            <div class ="editor-label">@Html.PasswordFor(u => u.password)
                 @Html.ValidationMessageFor(u => u.password)
            </div>             
            
            <input type="submit" value="Create User" />
              
        </fieldset>
    </div>
    
    
}
